<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petite-vue-time-tracker</title>
    <script type="module" src="/petite-vue.es.js"></script>
    <link rel="stylesheet" href="/reasonable-colors.css" />
    <style>

        html {
            background-color: var(--color-red-5);
        }
        
        body {
            background-color: var(--color-red-1);
            padding: 2rem;

            font-family: sans-serif;
            line-height: 1.5;
            max-width: 60rem;
            margin: 0 auto;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 0.5rem;
        }

        [aria-pressed] {
            background-color: var(--color-red-5);
            color: var(--color-red-1);
        }

        th[scope="row"] {
            text-align: left;
        }

        tr.complete {
            background-color: var(--color-green-1);
        }

        h2 {
            margin-top: 3rem;
        }

        #how-to {
            border: 1px solid var(--color-red-3);
            padding: 1rem;
            background-color: var(--color-red-2);
        }

        .big {
            font-size: 3rem;
        }

        .bold {
            font-weight: bold;
        }

        textarea, input {
            font-family: inherit;
            padding: 0.25rem;
            /* background-color: var(--color-raspberry-1); */
            border: 1px solid var(--color-gray-5);
        }

        #focus-mode textarea {
            font-family: inherit;
            padding: 0.5rem;
            width: 100%;
            max-width: 24rem;
            height: 6rem;
            
        }
    </style>
</head>
<body>

    <div v-scope @vue:mounted="readFromLocalStorage">

        <div v-show="!focusMode" id="not-focus-mode">

        <h1><code>petite-vue-time-tracker</code></h1>
        <p>A simple tool for keeping track of what you're working on, and for how long.</p>

        <p>This saves data in your web browser so you can close the window and come back later.</p>

        <details id="how-to">
            <summary>How to use</summary>
            <div>
                <ol>
                    <li>add some tasks in the 'Tasks' section</li>
                    <li>click 'start timer' next to a task to track time as you work</li>
                    <li>add notes if you want.</li>
                    <li>add a manual time entry if you want.</li>
                    <li>use focus sessions to start a pomodoro timer.</li>
                </ol>
            </div>
        </details>
        

        <h2>Tasks</h2>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Timer</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(task, taskIndex) in tasks" :class="{ complete : task.complete }">
                    <th scope="row">
                        <button @click="task.complete = !task.complete; updateLocalStorage();">
                        <span v-if="task.complete">✅</span>
                        <span v-else="">⏹️</span></button> ${task.title}</th>
                    <td><button @click="setCurrentTask(taskIndex)" :aria-pressed="currentTaskIndex === taskIndex ? 'true' : undefined">Start timer</button>
                    <button v-if="currentTaskIndex === taskIndex" @click="focusMode = true">Focus mode</button></td>
                    <td><button @click="deleteTask(taskIndex)"><span v-if="deletingTaskId === taskIndex">Really delete</span><span v-else="">Delete</span></button></td>

                </tr>
                <tr>
                    <th scope="row">
                        <form @submit.prevent="addTask">
                            <input placeholder="Enter new task here" v-model="newTaskTitle" />
                        <button :disabled="newTaskTitle === ''">Add</button>
                        </form>
                        
                    </th>
                </tr>

            </tbody>
        </table>

        <h2>Time entries</h2>

        <p v-if="tasks.length === 0">Create a task above to log your time.</p>
        <table v-else="">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Duration</th>
                    <th>Notes</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(entry, entryIndex) in timeEntries">
                    
                    <th>
                        ${entry.taskTitle}
                    </th>
                    <td>${entry.manual ? entry.start : formatTime(entry.start)}</td>
                    <td>${entry.manual ? entry.end : formatTime(entry.end)}</td>
                    <td>${entry.duration}</td>
                    <td><textarea v-model="entry.notes" @input="updateLocalStorage"></textarea></td>
                    <td><button @click="deleteTimeEntry(entryIndex)"><span v-if="deletingEntryIndex === entryIndex">Really delete</span><span v-else="">Delete</span></button></td>
                </tr>
                <tr v-if="currentTaskIndex !== null">
                    <th>${currentTask.title}</th>
                    <td>${formatTime(currentTaskStartTime)}</td>
                    <td><button @click="stopTaskAndSave">Done</button></td>
                    <td>${taskTimeElapsed}</td>
                    <td><textarea v-model="currentTaskNote"></textarea></td>
                    <td><button @click="stopTask">Delete</button></td>
                </tr>
                <tr>
                    <td colspan="6">
                        Manually add a time entry below:
                    </td>
                </tr>
                <tr>
                    <th>
                        <input placeholder="Task title"  v-model="newEntry.taskTitle" />
                    </th>
                    <td>
                        <input placeholder="Start time" style="width: 6rem" v-model="newEntry.start" />
                    </td>
                    <td>
                        <input placeholder="End time" style="width: 6rem" v-model="newEntry.end" />
                    </td>
                    <td>
                        <input placeholder="Duration" style="width: 6rem" v-model="newEntry.duration" />
                    </td>
                    <td>
                        <textarea placeholder="Notes" v-model="newEntry.notes"></textarea>
                    </td>
                    <td>
                        <button @click="addNewEntry">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Focus sessions</h2>

            <table v-if="sessions.length > 0 || currentSessionStartTime">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Duration</th>
                        <th>Notes</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(session, sessionIndex) in sessions">
                        <td>${formatTime(session.start)}</td>
                        <td>${formatTime(session.end)}</td>
                        <td>${session.duration}</td>
                        <td><input v-model="session.notes" @input="updateLocalStorage" /></td>
                    <td><button @click="deleteSession(sessionIndex)"><span v-if="deletingSessionIndex === sessionIndex">Really delete</span><span v-else="">Delete</span></button></td>
                    </tr>
        
                    <tr v-if="currentSessionStartTime !== null">
                        <td>${formatTime(currentSessionStartTime)}</td>
                        <td>${formatTime(currentSessionEndTime)} <button @click="stopSession">End now</button></td>
                        <td>${sessionTimeElapsed}</td>
                        

    
                    </tr>
                </tbody>
            </table>

        <form @submit.prevent="startSession">
            <label>Session length (mins)</label>
            <input type="number" v-model="newSessionLength" />
    
            <button>Start session</button>
        </form>

    </div>

    <div v-show="focusMode" id="focus-mode">
        <h1>Focus</h1>
        <p class="big bold" style="margin-bottom: 0;">${taskTimeElapsed}</p>
        <p>${currentTask !== null ? currentTask.title : ""}</p>
        <h2>Notes</h2>
        <p><textarea v-model="currentTaskNote"></textarea></p>
        <button @click="focusMode = false">Exit focus mode</button>
    </div>


    </div>



    <script type="module">
        import { createApp } from "/petite-vue.es.js";

        function secondsToHMS(secs) {
            function z(n){return (n<10?'0':'') + n;}
            var sign = secs < 0? '-':'';
            secs = Math.abs(secs);
            return sign + z(secs/3600 |0) + ':' + z((secs%3600) / 60 |0) + ':' + z((secs%60).toFixed(0));
        }

        function hmsToSeconds(s) {
            var b = s.split(':');
            return b[0]*3600 + b[1]*60 + (+b[2] || 0);
        }

        function getTimeBetween(startDate, endDate) {
            return secondsToHMS((new Date(endDate) - new Date(startDate)) / 1000)
        }
        

        createApp({
            newTaskTitle: '',
            newSessionLength: 25,
            addTask() {
                this.tasks.push({
                    title: this.newTaskTitle
                })
                this.newTaskTitle = ''
                this.updateLocalStorage()
            },
            updateLocalStorage() {
                window.localStorage.setItem('tasks', JSON.stringify(this.tasks))
                window.localStorage.setItem('timeEntries', JSON.stringify(this.timeEntries))
                window.localStorage.setItem('sessions', JSON.stringify(this.sessions))

            },
            readFromLocalStorage() {
                this.tasks = JSON.parse(window.localStorage.getItem('tasks') || "[]")
                this.timeEntries = JSON.parse(window.localStorage.getItem('timeEntries') || "[]")
                this.sessions = JSON.parse(window.localStorage.getItem('sessions') || "[]")

            },
            setCurrentTask(taskIndex) {

                if (this.currentTaskIndex !== null) {
                    this.stopTaskAndSave()
                }

                this.currentTaskIndex = taskIndex;
                this.currentTaskStartTime = new Date()
                this.taskTimerInterval = window.setInterval(this.updateTaskTimeElapsed.bind(this), 1000)
            },
            stopTask() {

                this.currentTaskIndex = null;
                this.currentTaskStartTime = null;
                window.clearInterval(this.taskTimerInterval);
                this.taskTimeElapsed = '00:00:00';
            },
            stopTaskAndSave() {

                const endTime = new Date();

                this.timeEntries.push({
                    taskIndex: this.currentTaskIndex,
                    taskTitle: this.currentTask.title,
                    start: this.currentTaskStartTime,
                    end: endTime,
                    notes: this.currentTaskNote,
                    duration: getTimeBetween(this.currentTaskStartTime, endTime)
                })

                this.updateLocalStorage();

                this.currentTaskIndex = null;
                this.currentTaskStartTime = null;
                this.currentTaskNote = "";
                window.clearInterval(this.taskTimerInterval);


            },
            stopSession() {

                const endTime = new Date();

                this.sessions.push({
                    // taskIndex: this.currentTaskIndex,
                    // taskTitle: this.currentTask.title,
                    start: this.currentSessionStartTime,
                    end: endTime,
                    duration: getTimeBetween(this.currentSessionStartTime, endTime)
                })

                this.updateLocalStorage();

                this.currentSessionStartTime = null;
                window.clearInterval(this.sessionTimerInterval);


                },
            get currentTask() {
                if (this.currentTaskIndex !== null) {
                    console.log(this.tasks)
                    console.log(this.currentTaskIndex)
                    return this.tasks[this.currentTaskIndex]
                } else {
                    return null
                }
            },
            deletingTaskId: null,
            deleteTask(taskIndex) {
                if (this.deletingTaskId === taskIndex) {
                    this.tasks = this.tasks.filter((t, tIndex) => tIndex !== taskIndex )
                    this.deletingTaskId = null
                    this.updateLocalStorage()
                } else {
                    this.deletingTaskId = taskIndex
                }
            },
            deletingEntryIndex: null,
            deleteTimeEntry(entryIndex) {
                if (this.deletingEntryIndex === entryIndex) {
                    this.timeEntries = this.timeEntries.filter((e, eIndex) => eIndex !== entryIndex )
                    this.deletingEntryIndex = null
                    this.updateLocalStorage()
                } else {
                    this.deletingEntryIndex = entryIndex
                }
            },
            deletingSessionIndex: null,
            deleteSession(sessionIndex) {
                if (this.deletingSessionIndex === sessionIndex) {
                    this.sessions = this.sessions.filter((s, sIndex) => sIndex !== sessionIndex )
                    this.deletingSessionIndex = null
                    this.updateLocalStorage()
                } else {
                    this.deletingSessionIndex = sessionIndex
                }
            },
            sessions: [],
            timeEntries: [],
            newEntry: {
                taskTitle: "",
                start: "",
                end: "",
                duration: "",
                notes: "",
                manual: true,
            },
            addNewEntry() {
                this.timeEntries.push(
                    {
                        ...this.newEntry
                    }
                );

                this.updateLocalStorage();
            },
            currentTaskNote: "",
            currentTaskIndex: null,
            currentTaskStartTime: null,
            currentSessionStartTime: null,
            sessionTimerInterval: null,
            taskTimerInterval: null,
            sessionTimeElapsed: null,
            taskTimeElapsed: null,
            formatTime(dateTime) {
                const formatter = Intl.DateTimeFormat(undefined, {
                    hour: 'numeric',
                    minute: 'numeric',
                    // second: 'numeric'
                })
                return formatter.format(new Date(dateTime))
                // console.log(dateTime)
                // return dateTime
            },
            updateSessionTimeElapsed() {
                this.sessionTimeElapsed = secondsToHMS((new Date() - new Date(this.currentSessionStartTime)) / 1000);
            },
            updateTaskTimeElapsed() {
                this.taskTimeElapsed = secondsToHMS((new Date() - new Date(this.currentTaskStartTime)) / 1000);
            },
            startSession() {
                this.currentSessionStartTime = new Date()
                console.log(this.currentSessionStartTime)
                this.currentSessionDuration = this.newSessionLength
                this.currentSessionEndTime = new Date(this.currentSessionStartTime.getTime() + this.newSessionLength*60000)
                console.log(this.currentSessionEndTime)
                console.log(this)
                this.sessionTimerInterval = window.setInterval(this.updateSessionTimeElapsed.bind(this), 1000)
            },
            tasks: [],
            focusMode: false,
            $delimiters: ['${', '}']
        }).mount()
    </script>


    
</body>
</html>